body {
  font-family: "Montserrat", sans-serif;
  font-size: 25px; }

.header {
  background-image: linear-gradient(to right, #4bbc8e, #139f92, #03828a, #236475, #2f4858);
  box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.75);
  width: 100%; }
  .header p {
    color: #F9F871; }
  .header__logo {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px; }
  .header__button {
    font-size: 14px;
    padding: 10px 25px;
    border: 2px solid #F9F871;
    border-radius: 5px;
    margin: 10px;
    background: none;
    color: #F9F871;
    font-weight: 600; }
    .header__button:hover {
      background: #F9F871;
      color: #2F4858; }
  .header__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto; }

.content__container {
  max-width: 1200px;
  box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.75);
  background-image: linear-gradient(to top, #fcfae8, #fbfbe4, #f9fce1, #f6fdde, #f2fedc);
  margin: 0 auto;
  height: calc(100vh - 58px);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  justify-content: flex-start; }
.content__empty {
  display: block;
  text-align: center;
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 160px); }

.fixed-overlay {
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .fixed-overlay__wrapper {
    text-align: center;
    white-space: nowrap;
    z-index: 100; }
    .fixed-overlay__wrapper::after {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%;
      content: ''; }

.modal-wrapper {
  display: inline-block;
  vertical-align: middle; }

.modal {
  width: 550px;
  background-color: beige;
  margin: 0 auto;
  border: 2px solid #1C6E7D;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 50px;
  position: relative; }
  .modal label {
    display: block;
    text-align: center; }
  .modal__select {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #222;
    appearance: none;
    border: 2px solid #4BBC8E;
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px 0px;
    width: 390px;
    height: 34px; }
    .modal__select:focus {
      box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.75); }
  .modal__close-button {
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
    width: 22px;
    height: 22px;
    border: 2px solid #2F4858;
    border-radius: 50%;
    padding: 2px;
    background: none;
    color: #2F4858;
    font-size: 14px;
    line-height: 1;
    font-weight: 600; }
    .modal__close-button:hover {
      border-color: #4BBC8E;
      color: #4BBC8E; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form__input {
    display: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #222;
    appearance: none;
    border: 2px solid #4BBC8E;
    padding: 5px 10px;
    border-radius: 5px;
    width: 390px;
    margin: 10px 0px;
    box-sizing: border-box; }
    .form__input:focus {
      box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.75); }
  .form__submit {
    font-size: 14px;
    padding: 10px 45px;
    border: 2px solid #2F4858;
    border-radius: 5px;
    margin-top: 10px;
    background-color: transparent;
    text-transform: uppercase;
    color: #2F4858;
    font-weight: 600; }
    .form__submit:hover {
      border-color: #4BBC8E;
      color: #4BBC8E;
      box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.75); }

.card {
  width: 270px;
  background-image: linear-gradient(to bottom, #4bbc8e, #38b390, #26a992, #149f91, #039590);
  border-radius: 10px;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  user-select: none; }
  .card p {
    color: white;
    font-size: 14px;
    margin-top: 5px; }
  .card__line {
    font-size: 16px; }
  .card__button-close {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    border: 2px solid #2F4858;
    border-radius: 50%;
    padding: 2px;
    background: none;
    color: #2F4858;
    font-size: 14px;
    line-height: 1;
    font-weight: 600; }
    .card__button-close:hover {
      border-color: #F9F871;
      color: #F9F871; }
  .card__button-show {
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #2F4858;
    border: 2px solid #2F4858;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 15px auto 0 auto;
    background: none; }
    .card__button-show:hover {
      border-color: #F9F871;
      color: #F9F871; }
  .card__empty-area {
    width: 270px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    background: none;
    border: 2px solid #2F4858; }

/*# sourceMappingURL=style.css.map */
