//@font-face
//    font-family: 'Montserrat', sans-serif;
//    src : url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$font: 'Montserrat',
sans-serif;
$primary-dark-blue: #2F4858;
$primary-blue: #1C6E7D;
$primary-dark-green: #039590;
$primary-green: #4BBC8E;
$primary-light-green: #9BDE7E;
$primary-yellow: #F9F871;

$blueGr: linear-gradient(to right, #4bbc8e, #139f92, #03828a, #236475, #2f4858);
$lightGr: linear-gradient(to top, #fcfae8, #fbfbe4, #f9fce1, #f6fdde, #f2fedc);
$greenTopGr: linear-gradient(to bottom, #4bbc8e, #38b390, #26a992, #149f91, #039590);
$shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.75);


body {
	font-family: $font;
	font-size: 25px;
}

.header {
	background-image: $blueGr;
	box-shadow: $shadow;
	width: 100%;

	& p {
		color: #F9F871;
	}

	&__logo {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 16px;
		margin-left: 10px;
	}

	&__button {
		font-size: 14px;
		padding: 10px 25px;
		border: 2px solid #F9F871;
		border-radius: 5px;
		margin: 10px;
		background: none;
		color: #F9F871;
		font-weight: 600;

		&:hover {
			background: $primary-yellow;
			color: $primary-dark-blue;
		}
	}

	&__container {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		max-width: 1200px;
		margin: 0 auto;

	}
}

.content {

	&__container {
		max-width: 1200px;
		box-shadow: $shadow;
		background-image: $lightGr;
		margin: 0 auto;
		height: calc(100vh - 58px);
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		align-content: flex-start;
		padding: 20px;
		box-sizing: border-box;
		justify-content: flex-start;
	}

	&__empty {
		display: block;
		text-align: center;
		position: absolute;
		top: calc(50% - 14px);
		left: calc(50% - 160px);

	}
}

.fixed-overlay {
	display: none;
	position: fixed;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);

	&__wrapper {
		text-align: center;
		white-space: nowrap;
		z-index: 100;

		&::after {
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
			content: '';
		}
	}
}

.modal-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.modal {
	width: 550px;
	background-color: beige;
	margin: 0 auto;
	border: 2px solid #1C6E7D;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 30px 50px;
	position: relative;

	label {
		display: block;
		text-align: center;
		//		margin-top: 30px;
	}

	&__select {
		font-family: "Montserrat", sans-serif;
		font-size: 16px;
		color: #222;
		appearance: none;
		border: 2px solid #4BBC8E;
		border-radius: 5px;
		margin: 10px auto;
		padding: 5px 0px;
		width: 390px;
		height: 34px;

		&:focus {
			box-shadow: $shadow;
		}
	}

	&__close-button {
		display: block;
		position: absolute;
		right: 30px;
		top: 20px;
		width: 22px;
		height: 22px;
		border: 2px solid $primary-dark-blue;
		border-radius: 50%;
		padding: 2px;
		background: none;
		color: $primary-dark-blue;
		font-size: 14px;
		line-height: 1;
		font-weight: 600;

		&:hover {
			border-color: $primary-green;
			color: $primary-green;

		}

	}
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__input {
		display: none;
		font-family: "Montserrat", sans-serif;
		font-size: 16px;
		color: #222;
		appearance: none;
		border: 2px solid #4BBC8E;
		padding: 5px 10px;
		border-radius: 5px;
		width: 390px;
		margin: 10px 0px;
		box-sizing: border-box;

		&:focus {
			box-shadow: $shadow;
		}
	}

	&__submit {
		font-size: 14px;
		padding: 10px 45px;
		border: 2px solid $primary-dark-blue;
		border-radius: 5px;
		margin-top: 10px;
		background-color: transparent;
		text-transform: uppercase;
		color: $primary-dark-blue;
		font-weight: 600;

		&:hover {
			border-color: $primary-green;
			color: $primary-green;
			box-shadow: $shadow;
		}
	}
}

.card {
	width: 270px;
	background-image: $greenTopGr;
	border-radius: 10px;
	margin: 10px;
	box-sizing: border-box;
	padding: 10px;
	position: relative;
	user-select: none;

	& p {
		color: white;
		font-size: 14px;
		margin-top: 5px;
	}

	&__line {
		font-size: 16px;
	}

	&__button-close {
		display: block;
		position: absolute;
		right: 10px;
		top: 10px;
		width: 22px;
		height: 22px;
		border: 2px solid $primary-dark-blue;
		border-radius: 50%;
		padding: 2px;
		background: none;
		color: $primary-dark-blue;
		font-size: 14px;
		line-height: 1;
		font-weight: 600;

		&:hover {
			border-color: $primary-yellow;
			color: $primary-yellow;
		}
	}

	&__button-show {
		display: block;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		color: $primary-dark-blue;
		border: 2px solid $primary-dark-blue;
		border-radius: 5px;
		padding: 5px 20px;
		margin: 15px auto 0 auto;
		background: none;

		&:hover {
			border-color: $primary-yellow;
			color: $primary-yellow;

		}
	}

	&__empty-area {
		width: 270px;
		height: 100px;
		border-radius: 10px;
		margin: 10px;
		box-sizing: border-box;
		background: none;
		border: 2px solid $primary-dark-blue;
	}
}
